body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(150deg, #C29388, #332A27);
    height: 100vh;

}

.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

.for .origin {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}


form .origin {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

form .destination {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.origin input{
    width: 100px;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.destination input{
    width: 100px;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.origin label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-177%);
    font-size: 16px;
    pointer-events: none;
    transition: -5s;
}

.destination label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-177%);
    font-size: 16px;
    pointer-events: none;
}

#search {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: bisque;
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#result {
    margin-top: 60px; 
}

select {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}



   



